  <!-------HOME PAGE------------->
  
  <header">
  <div class="home-callout text-center container-fluid">
    <h1 class="hvr-shutter-out-horizontal", id="main-text">Kyle Nasulloev</h1>
  <h3>Aspiring Web Developer</h3>
  <hr>
  <div class="social-links">
    <a href="#", <i class="fab fa-github fa-3x"></i></a>
    <a href="#", <i class="fab fa-linkedin fa-3x"></i></a>
    <a href="#", <i class="fab fa-free-code-camp fa-3x"></i></a>
    <a href="#", <i class="fas fa-envelope fa-3x"></i></a>
  </div>
</div>
</header>

<!--ABOUT PAGE--->

<div class="about-callout text-center container-fluid", id="about">
  <a id="about" class="smooth"></a>
  <h1 class="about-page-header">Hi, I'm Kyle!</h1>
  <h3>Aspiring Full-Stack Web Developer</h3>
    <div class="row about-row">
      <div class="col-md-5 col-md-offset-1">
        <%= image_tag "user1.jpg", class: "avatar-pic img-responsive img-circle" %>
      </div>
        <div class="col-md-5 about-p">
          <p><b>Front End Development:</b> Using HTML, CSS, JavaScript and Bootstrap I build high quality responsive websites with exceptional user experience.</p>
          <p><b>Back End Development:</b> Using Ruby on rails framework I build websites and web applications.</p>
        </div>  
    </div>
</div>


<!--WORK PAGE--->

<div class="work-callout text-center container-fluid", id="work">
 <a id="work" class="smooth"></a>
    <h1 class="work-page-header">My Work</h1>
      <div class="row work-row">
         <div class="col-md-5 col-md-offset-1">
          <%= image_tag "tribute.png", class: "tribute-pic img-responsive thumbnail", alt: "tribute-page" %>
          </div>
              <div class="col-md-5 work-p">
                <h4>Front End Development Project - Tribute Page</h4>
                <p>One of the first projects I built on Free Code Camp. A personal tribute to favorite author or someone you admire.
                 I chose a tribute page for Dr. Norman Borlaug, the man who saved a billion lives.
              </p>
                   <div class="languages-used">
                      <span class="label label-primary">HTML5</span>
                      <span class="label label-success">CSS</span>
                      <span class="label label-info">Bootstrap</span>
                    </div>
                     <div class="work-buttons">
                    <a class="work-btn btn btn-default fab fa-codepen" target="_blank" href="#codepen" role="button"> Demo</a>
                    <a class="work-btn btn btn-default fab fa-github" target="_blank" href="#github" role="button"> Code</a>
                  </div>
                    
              </div>
          </div>
      </div>
</div>

<!--CONTACT PAGE--->

<div class="contact-callout text-center container-fluid", id="contact">
  <a id="contact" class="smooth"></a>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3 class="contact-page-header">Contact Me</h3>
      <a href="mailto:tj.khujand@gmail.com", class="contact-me">Email Me<i class="fas fa-envelope"></i><span>tj.khujand@gmail.com</span></a>
    </div>
  </div>
</div>