<div class="home-callout text-center container-fluid">
  <h1>Kyle Nasulloev</h1>
  <h3>Aspiring Web Developer</h3>
  <hr>
  <div class="social-links">
    <a href="#", <i class="fab fa-github fa-3x"></i></a>
    <a href="#", <i class="fab fa-linkedin fa-3x"></i></a>
    <a href="#", <i class="fab fa-free-code-camp fa-3x"></i></a>
    <a href="#", <i class="fas fa-envelope fa-3x"></i></a>
  </div>
</div>

<!--ABOUT PAGE--->

<div class="about-callout text-center container-fluid", id="about">
  <a id="about" class="smooth"></a>
  <h1 class="about-page-header">About</h1>
  <p></p>
</div>


<!--WORK PAGE--->

<div class="work-callout text-center container-fluid", id="work">
  <a id="work" class="smooth"></a>
  <h1 class="work-page-header">My Work</h1>
  <p></p>
</div>

<!--CONTACT PAGE--->

<div class="contact-callout text-center container-fluid", id="contact">
  <a id="contact" class="smooth"></a>
  <h1 class="contact-page-header">Contact Me</h1>
  <p></p>
</div>