  <!-------HOME PAGE------------->
  
  <header>
  <div class="home-callout text-center container-fluid">
    <h1 class="hvr-shutter-out-horizontal", id="main-text">Kyle Nasulloev</h1>
  <h3>Aspiring Web Developer</h3>
  <hr>
  <div class="social-links">
    <a href="https://github.com/Nasul", target="_blank" <i class="git fab fa-github fa-3x"></i></a>
    <a href="#", <i class="linkedin fab fa-linkedin fa-3x"></i></a>
    <a href="https://www.freecodecamp.org/nasul", target="_blank" <i class="free fab fa-free-code-camp fa-3x"></i></a>
    <a href="#contact", <i class="envelope fas fa-envelope fa-3x"></i></a>
  </div>
</div>
</header>

<!--ABOUT PAGE--->

<div class="about-callout container-fluid", id="about">
  <a id="about" class="smooth"></a>
  <div class="container about-container">
  <h1 class="about-title text-center">Hi, I'm Kyle!</h1>
  <h3 class="text-center">Aspiring Full-Stack Web Developer</h3>
    <div class="row about-row">
     <div class="col-md-5 col-md-offset-1 profile-image">
     <%= image_tag "profile1.jpg", class: "img-circle img-responsive" %>
    </div>
      <div class="col-md-5 col-md-offset-1">
      <p><b>Front End Development:</b> Using HTML(5), CSS(3), JavaScript and Bootstrap I build high quality responsive websites with exceptional user experience.</p>
          <p><b>Back End Development:</b> Using Ruby on rails framework I build websites and web applications.</p>
          <hr class="line-breaker">
      <h5 class="text-center"><strong>EDUCATION</strong></h5><p><i class="far fa-calendar-check"></i> 2017 - Master Degree in Computer Information System<br>
      <i class="far fa-calendar-check"></i> 2013 - Bachelor Degree in Business Administration</p>
        </div>  
    </div>
  </div>
</div>


<!--WORK PAGE--->

<div class="work-callout container-fluid", id="work">
 <a id="work" class="smooth"></a>
   <h1 class="work-page-header text-center">My Work</h1>
      <div class="work-container container">
          
              <!---------FIRST ROW----------->
        <div class="row first-row">
          <div class="col-md-6 work-tribute-picture">
            <%= image_tag "DevMatch.png", class: "devmatch-pic img-responsive thumbnail", alt: "devmatch-page" %>
          </div>
          <div class="col-md-6 work-paragaph">
            <h4 class="text-center">Full-Stack Development Project - DevMatch web-application</h4>
            <p>Built a "startup" project called DevMatch - this is a membership site where entrepreneurs, investors can meet developers.
               This web application consist of features like registration/authentication, user profiles, email notifications, and subscription membership billing.
            </p>
             <div class="languages-used">
                <span class="label label-primary">HTML5</span>
                <span class="label label-success">CSS</span>
                <span class="label label-default">JavaScript</span>
                <span class="label label-info">Bootstrap</span>
                <span class="label label-default">Ruby on Rails</span>
             </div>
             <div class="work-buttons">
                  <a class="work-btn btn btn-default fab fa-codepen" target="_blank" href="https://limitless-crag-30699.herokuapp.com/" role="button"> Demo</a>
                  <a class="work-btn btn btn-default fab fa-github" target="_blank" href="https://github.com/Nasul/upskill_saas_tutorial" role="button"> Code</a>
              </div>
                    
          </div>
        </div>
          
               <!--------SECOND ROW----------->
        <div class="row second-row">
          <div class="col-md-6 work-tribute-picture">
            <%= image_tag "tribute.png", class: "tribute-pic img-responsive thumbnail", alt: "tribute-page" %>
          </div>
          <div class="col-md-6 work-paragaph">
            <h4 class="text-center">Front End Development Project - Tribute Page</h4>
            <p>One of the first projects I built on Free Code Camp. A personal tribute to favorite author or someone you admire.
            I chose a tribute page for Dr. Norman Borlaug, the man who saved a billion lives.
            </p>
             <div class="languages-used">
                <span class="label label-primary">HTML5</span>
                <span class="label label-success">CSS</span>
                <span class="label label-info">Bootstrap</span>
             </div>
             <div class="work-buttons">
                  <a class="work-btn btn btn-default fab fa-codepen" target="_blank" href="https://codepen.io/bellcode/full/BJRPRa/" role="button"> Demo</a>
                  <a class="work-btn btn btn-default fab fa-github" target="_blank" href="https://github.com/Nasul/Tribute-Webpage" role="button"> Code</a>
              </div>
          </div>
        </div>
        
                 <!--------THIRD ROW----------->
        <div class="row third-row">
          <div class="col-md-6 work-comingsoon-picture">
            <%= image_tag "comingsoon.png", class: "comingsoon-pic img-responsive thumbnail", alt: "Coming Soon" %>
          </div>
          <div class="col-md-6 work-paragaph">
            <h4 class="text-center">New Project Coming Soon.</h4>
            <p>Once a new project is complete, I will update this section. Please come back to check it out.
            </p>
             <div class="languages-used">
                <span class="label label-primary">HTML5</span>
                <span class="label label-success">CSS</span>
                <span class="label label-info">Bootstrap</span>
             </div>
             <div class="work-buttons">
                  <a class="work-btn btn btn-default fab fa-codepen" target="_blank" href="#" role="button"> Demo</a>
                  <a class="work-btn btn btn-default fab fa-github" target="_blank" href="#" role="button"> Code</a>
              </div>
          </div>
        </div>
      </div>
      
      <!--CONTACT PAGE--->
          <div class="container email-me", id="contact">
            <a id="contact" class="smooth"></a>
            <div class="row">
              <div class="col-md-5 col-md-offset-4 text-center">
                <h3 class="contact-page-header">Get in touch</h3>
                <p>Have an exciting project to work on - lets build something together!<p><br>
                <a href="mailto:tj.khujand@gmail.com", class="contact-me">Email Me<i class="contact-envelope fas fa-envelope"></i><span>tj.khujand@gmail.com</span></a>
                </div>
              </div>
          </div>
</div>

<!------FOOTER------>
<div class="container-fluid footer-callout">
    <div class="row text-center">
      <div class="footer col-md-5 col-md-offset-4">
        <h6>
          Coded by Kyle<br><br>
          <i class="far fa-copyright" aria-hidden="true"></i> 2018 
          <i class="fas fa-map-marker-alt" aria-hidden="true"></i> Omaha, NE
        </h6>
      </div>
    </div>
  </div>
