/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require hover
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Typography styles
body {
  margin: 0;
}
h3, h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
   font-family: 'Roboto', cursive
}
h2 {
  font-family: 'Lobster', cursive;
  color: #778899;
}   

.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
}
.style_logo {
  height: 85px;
  width: 66px;
  
}

.home-callout {
  /* background-image: image-url('Header.jpg'); old-background-image */ 
  background-color: white;
  background-size: cover;
  background-position: center;
  height: auto;
  max-height: 80vh;
 }
 
 //Home page styles
.home-callout {
  color: white;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 80px;
  padding-bottom: 20px;
}
 .home-callout-row {
   margin: 20px 0;
   color: black;
 }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #00B3FF;
    width: 300px;
    border-width: 2px;
}
.line-breaker {
  color: #00B3FF;
  width: 400px;
  border-width: 2px;
}
// Nav Styles
.navbar {
  border: none;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a{
  color: #00B3FF;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
.navbar-default .navbar-toggle {
    border-color: #00B3FF;
    & .icon-bar {
      background-color: #00B3FF;
    }
}  

#main-text {
  color: black;
}

.social-links, a:link {
  text-decoration: none;
 }
.git {
  color: #55555;
  padding-right: 5px;
  padding-left: 5px;
}

.linkedin {
  color: #4875B4;
  padding-right: 5px;
  padding-left: 5px;
}
.free {
  color: #006400;
  padding-right: 5px;
  padding-left: 5px;
}

.fa-envelope:hover, .fa-github:hover {
  color:lightgrey;
  
 }
.fa-linkedin:hover {
  color: #0077B5;
}
.fa-free-code-camp:hover {
  color: green;
}

.profile-image {
  margin-top: 30px;
}

/*------------------------ABOUT SECTION-----------------*/

 //Gradient by provided by @_ighosh at uiGradient.com
.about-callout {
background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
width: auto;
height: auto;
}
.about-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
 }

 /*------------------------WORK SECTION-----------------*/


/*--------CONTACT SECTION-------*/

.email-me {
  padding-bottom: 20px;
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact-page-header {
  padding-top: 10px;
  padding-bottom: 5px;
 
}


.contact-me {
      position: relative;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    color: #697082;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
    border: 2px solid #697082;
    border-radius: 4px;
    padding: 20px 65px;
    transition: 0.3s ease-in-out;
    color: white;
}
.contact-me > span {
  text-transform: none;
  position: absolute;
  color: white;
  top: 20px;
  left: 12px;
  opacity: 0;
  transition: all 0s ease 0s;
}

.contact-me:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid #697082;
  border-radius: 50px;
  background-color: #0077B5;
  color: #0077B5;
}
.contact-me:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
  font-size: 14px;
}
.contact-me:before, .contact-me:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 132px;
  height: 25px;
}
.contact-envelope {
  padding-left: 4px;
}

/*--------FOOTER SECTION-------*/
.footer-callout {
  	 //Gradient by provided by @_ighosh at uiGradient.com
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: auto;
  height: auto;
  color: white;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
}