/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require hover
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Typography styles
h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
   font-family: 'Limelight', cursive
  
}

//--------------HOME SECTION---------------------//

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 20px;
  
}

// Background Ground gradients

.navbar {
  //Gradient by provided by @_ighosh at uiGradient.com
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-callout {
  background-image: image-url('Header.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 100vh;
 }

hr {
  width: 300px;
  border-width: 2px;
}
// Nav Styles
.navbar {
  border: none;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a{
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

//Home page styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 80px;
  padding-bottom: 100px;
}

#main-text {
  color: black;
}
.fa-github, .fa-linkedin, .fa-free-code-camp, .fa-envelope{
  padding-right: 5px;
  padding-left: 5px;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

/*------------------------ABOUT SECTION-----------------*/
.avatar-pic {
  height: 150px;
  width: 150px;
}
.about-callout {
background-color: #ffffff; /* White */
color: #555555;
width: 100%;
height: 700px;
}
.about-page-header {
  padding-top: 40px;
 }
 .about-p {
   line-height: 2em;
   margin: 0;
   padding: 10px;
   text-align: left;
 }

 /*------------------------WORK SECTION-----------------*/
 .tribute-pic {
 
 }
 .work-callout, {
 background-color: #474e5d; /* Dark Blue */
 color: #ffffff;

width: 100%;
height: 600px;
}
.work-page-header {
  padding-top: 40px;
}

.work-p {
   line-height: 2em;
   margin: 0;
   padding: 10px;
   text-align: left;
}

/*--------CONTACT SECTION-------*/

.contact-callout {
  background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  width: 100%;
  height: 400px;
}
.contact-page-header {
  padding-top: 40px;
}